#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=OCVvid2fulldome
Comment=OCVvid2fulldome tool
Exec=OCVvid2fulldome
Icon=OCVvid2fulldome
Terminal=true
Type=Application
Categories=Development;
Name[en_IN]=OCVvid2fulldome
